
<h1><%= @restaurant.name %></h1>
<h2>Address: <%= @restaurant.address %></h2>
<h2>Phone: <%= @restaurant.phone_number %></h2>
<h2>Cusine: <%= @restaurant.category %></h2>

<ul>
<%  @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %>
    <%= review.rating %>
  </li>
<% end %>
</ul>


<%= link_to "New Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back", restaurants_path %>
